body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #f9f9f9;
  color: #333;
}

header {
    background-color: #0055a5;
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #0055a5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #003f7f;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#ansattListe {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.ansattkort {
  background-color: white;
  border: 1rem #ccc;
  border-radius: 8px;
  padding: 1rem;
}


#ansattListe h3 {
  margin-left: 0;
  color: #0055a5;
}

#ansattListe p {
  margin: 0.5rem;
  margin-left: 0;
}

#ansattListe ul {
  margin: 0.5rem;
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  margin-top: 3rem;
  font-size: 1rem;
  text-align: center;
}